fastapi
uvicorn[standard]
httpx
websockets
pydantic
pydantic-settings
python-dotenv
prometheus-client
pytest
pytest-asyncio
pytz
sqlalchemy
psycopg2-binary
asyncpg
upstox-python-sdk
apscheduler
protobuf
pandas
requests
matplotlib